body{margin-left:auto;margin-right:auto;}
.centered {max-width:720px;margin-left:auto;margin-right:auto;text-align:center;}
/* #countdown{width: 500px; height: 200px; margin: 10px auto; } */
table{max-width: 720px; text-align:left;}
.tip{color:blue;font-size:48px;}
.tips{color:blue;text-indent:2em;font-size:24px;}
.holiday{color:red;text-align:center;font-size:22px;}
img{width:666px;}
/* #time{width: 400px; height: 150px; margin: 50px auto; } */
#time{font-size:42px;}
#time input{margin:5px auto;text-align:center;border-radius:10px;font-size:28px;}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {-webkit-appearance: none;}
button{margin: 0 0 0 35px;border-radius:10px;font-size:42px;}
#start{font-family: STHupo;font-size: 1.5em;border: 1px solid green;color:red;background-color: black;}
.djs{font-size:42px;color:orangered;}
span{color:yellow;}